<link href="/css/styles.css" rel="stylesheet" type="text/css">
<a href="./">Home</a>
<hr>
<h3><%= result.name %> details</h3>


<img src="/images/<%=result.name%>.jpg" alt="<%=result.name%> <%=result.model%>" width="300">

<% if (result) { %>
<li>Model: <%= result.model %>
<li>Year: <%= result.year %>
<li>Color: <%= result.color %>
    <% } else { %>
    not found
    <% } %>